@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");
// variables
$fontFamily: "'Inter', sans-serif";
$h1FontSize: 10rem;
$h1ParaContainerMBotton: 6rem;
$paraFontSize: 2.5rem;
$btnFontSize: 3rem;
$btnWidth: 25rem;
$btnHeight: 8.1rem;
$colorBG: #2f2a2a;
$colorBtn: #c57171;
$colorText: #fff;
$rootMarginTB: 10rem;
$rootMarginLR: 15rem;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}
html {
	background-color: $colorBG;
	direction: rtl;
	font-size: 10px;
	width: 100vw;
	height: 100vh;
}
body {
	width: 100%;
    background-image: url("/assets/_Group_\ \(1\)\ 1.png");

    background-repeat: no-repeat;
    background-position: 30rem 10rem;
    
}
#root {
    
	position: relative;
	margin: $rootMarginTB $rootMarginLR;
	.tile {
		position: absolute;
		left: -139px;
		bottom: 28rem;
		transition: all 0.75s ease;
        z-index: 999;
	}
	.magen {
		position: absolute;
		left: 17rem;
		bottom: 2rem;
		transition: all 0.75s ease;
        z-index: 999;
        display: none;
	}
	.logo {
        position: fixed;
        left: 50%;
        bottom: 2rem;
        width: 15rem;
		transition: all 0.75s ease;
	}
	.logo:hover {
		transform: scale(1.7);
	}
	.magen:hover,
	.tile:hover {
		transform: scale(1.2);
	}
    .candle {
		width: 100%;
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
		overflow-x: hidden;
		gap: 0rem;
		margin-top: 2rem;
		img {
			display: inline;
            position: relative;
		}
		p {
			font-size: 20pt;
			color: #fff;
			text-align: center;
			margin-top: 2rem;
		}
	}

	.infoContainer {
		margin-bottom: $h1ParaContainerMBotton;
		width: 150rem;
		.mainHeading {
			font-size: $h1FontSize;
			font-weight: 900;
			color: $colorText;
			text-align: right;
			margin-bottom: $h1ParaContainerMBotton;
		}
		.topPara,
		.middlePara,
		.bottonPara {
			font-size: $paraFontSize;
			font-weight: 400;
			color: $colorText;
			text-align: right;
			width: 50%;
			margin-bottom: 1.5rem;
		}
	}
	.btnContainer {
		width: 20rem;

		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 2rem;
		.btn {
			width: $btnWidth;
			height: $btnHeight;
			background-color: $colorBtn;
			font-size: $btnFontSize;
			border-radius: 1.5rem;
			text-align: center;
			color: $colorBG;
			transition: all 0.35s ease;
			border: none;
			box-shadow: 0rem 1rem 1rem #222;
			cursor: pointer;
		}
		.btn:hover {
			background: rgb(197, 113, 113);
			background: linear-gradient(
				34deg,
				rgba(197, 113, 113, 1) 61%,
				rgba(226, 219, 78, 1) 100%
			);
			color: white;
		}
		.btn:active {
			box-shadow: 0rem 1rem 1rem #000;
			transform: translateY(0.5rem);
		}
	}
}

@media only screen and (max-width: 600px) {
	@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");
	// variables
	$fontFamily: "'Inter', sans-serif";
	$h1FontSize: 5rem;
	$h1ParaContainerMBotton: 5rem;
	$paraFontSize: 1.5rem;
	$btnFontSize: 1.5rem;
	$btnWidth: 13rem;
	$btnHeight: 5rem;
	$colorBG: #2f2a2a;
	$colorBtn: #c57171;
	$colorText: #fff;
	$rootMarginTB: 3rem;
	$rootMarginLR: 2rem;

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: "Inter", sans-serif;
	}
	html {
		background-color: $colorBG;
		direction: rtl;
		font-size: 10px;
		width: 100vw;
		height: 100vh;
	}
	body {
		width: 100%;
        background-image: none;
        background-position: 15rem 0rem;
        background-size: 10rem;
        overflow-y: visible;
        z-index: 999;
        position: relative;

	}
	.candle {
		width: 100%;
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
		overflow-x: scroll;
		gap: 0rem;
		margin-top: 2rem;
		img {
			display: inline;
		}
		p {
			font-size: 20pt;
			color: #fff;
			text-align: center;
			margin-top: 2rem;
		}
	}
	#root {
		position: relative;
		margin: $rootMarginTB $rootMarginLR;
		.tile {
			position: absolute;
			left: -139px;
			bottom: 28rem;
			transition: all 0.75s ease;
			display: none;
		}
		.magen {
			position: relative;
			left: 0rem;
			bottom: 1rem;
			transition: all 0.75s ease;
			width: 10rem;
            display: block;
		}
		.logo {
			position: fixed;
			left: 35%;
			bottom: 2rem;
			width: 12rem;
			transition: all 0.75s ease;
		}
		.logo:hover {
			transform: scale(1.7);
		}
		.magen:hover,
		.tile:hover {
			transform: scale(1.2);
		}

		.infoContainer {
			margin-bottom: 5rem;
			width: 100%;
			text-align: center;
			.mainHeading {
				font-size: $h1FontSize;
				font-weight: 900;
				color: $colorText;
				text-align: right;
				margin-bottom: $h1ParaContainerMBotton;
			}
			.topPara,
			.middlePara,
			.bottonPara {
				font-size: $paraFontSize;
				font-weight: 400;
				color: $colorText;
				text-align: center;
				width: 100%;
				margin-bottom: 1.5rem;
			}
		}
		.btnContainer {
			width: 100%;
			position: relative;
			left: -3.5rem;
			display: flex;
			flex-flow: row wrap;
			justify-items: center;
			align-items: center;

			gap: 2rem;
			.btn {
				width: $btnWidth;
				height: $btnHeight;
				background-color: $colorBtn;
				font-size: $btnFontSize;
				border-radius: 1.5rem;
				text-align: center;
				color: $colorBG;
				transition: all 0.35s ease;
				border: none;
				box-shadow: 0rem 1rem 1rem #222;
				cursor: pointer;
			}
			.btn:hover {
				background: rgb(197, 113, 113);
				background: linear-gradient(
					34deg,
					rgba(197, 113, 113, 1) 61%,
					rgba(226, 219, 78, 1) 100%
				);
				color: white;
			}
			.btn:active {
				box-shadow: 0rem 1rem 1rem #000;
				transform: translateY(0.5rem);
			}
		}
	}
}
